<%= simple_form_for proponent, data: { controller: 'flatpickr nested-form form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
  <%= title_for(proponent) %>
  <% if proponent.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4>Existem erros no formulário:</h4>
      <ul>
        <% proponent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.input :name %>
  </div>

  <div class="form-group">
    <%= form.input :cpf, input_html: { data: { controller: 'mask', mask_type_value: "cpf" } } %>
  </div>

  <div class="form-group">
    <%= form.input :birth_date, as: :string, input_html: { class: 'fp_date form-control' } %>
  </div>

  <div class="form-group">
    <%= form.input :residential_phone, input_html: { data: { controller: 'mask', mask_type_value: "phone" } } %>
  </div>

  <div class="form-group">
    <%= form.input :mobile_phone, input_html: { data: { controller: 'mask', mask_type_value: "mobile" } } %>
  </div>

  <div class="form-group">
    <%= form.input :salary, as: :string, input_html: { data: { controller: 'mask calculate-discount', mask_type_value: "currency", action: "input->calculate-discount#calculate" } } %>
  </div>

  <div class="form-group">
    <%= form.input :inss_discount, as: :string, readonly: true, input_html: { data: { controller: 'mask', mask_type_value: "currency" } } %>
  </div>

  <h3>Endereços</h3>

  <template data-nested-form-target="template">
    <%= form.fields_for :addresses, Address.new, child_index: 'NEW_RECORD' do |addresse_fields| %>
      <%= render "address_form", f: addresse_fields %>
    <% end %>
  </template>

  <%= form.fields_for :addresses do |addresse_fields| %>
    <%= render "address_form", f: addresse_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add" style="margin-bottom: 1em;" class="btn btn-secondary">Adicionar Endereço</button>
  <br>
  <%= form.button :submit, class: 'btn btn-primary' %>
  <%= link_to t('helpers.back'), root_path, class: 'btn btn-light' %>
<% end %>
<br>
